	<nav class="sysadmincat-nav-one">
	<div class="content">
		<ul class="nav {{include.navclass}}">
			<div class="header-navigation"><img src="http://127.0.0.1:4000/img/green_cat_icon_small.png" class="sysadmincat-logo"></div>
			<li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i>
</a></li>
		
		<li><a href="https://github.com/spaceg"><i class="fa fa-youtube" aria-hidden="true"></i>
</a></li>
<li><a href="https://github.com/spaceg"><i class="fa fa-github" aria-hidden="true"></i>
</a></li>
			<li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}{% endif %} space">Home</a></li>
			<li><a href="{{site.baseurl}}/sys/">Tutorials</a></li>
			<li><a href="{{site.baseurl}}/archive/">ArchivePage</a></li>
		</ul>
		</div>
	</nav>