/* Theme for our SysAdminCat Blog on YouTube 
Date : 12. February 
cssfile: navigation
*/

.space {
	background: pink;
}
nav {
    max-width: 900px;
    margin: 0 auto;
}
.nav-space-top {
	font-size:33px;
	margin: 0 auto;
}
.nav-space-bottom {
	font-size: 13px;
}
.nav-space-top li {
 display: -webkit-inline-box;
}
.nav-space-top li a {
color:white;
}
