/* Theme for our SysAdminCat Blog on YouTube 
Date : 12. February 
cssfile: main sysadmincat stylesheet;
*/

body, html {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0 auto;
}
a {
	    color: #333333;
    text-decoration: none;
}
a:hover {
	color: #666;
}
h1 {
font-weight:800;

}
li, ul {
    list-style: none;
}
ul.sysadmincat-list-posts {
 margin: 0 auto;
    padding: 0;

}
.img-respon {
	width:100%;
}

.content {
	max-width: 900px;
	margin: 0 auto ;
	padding: 0;
    padding-bottom: 40px;
	
}
footer {
    margin: 0 auto;
    /*max-width: 900px;*/
    background:#080808;
    color:white;
}
footer p {
	text-align: center;
	padding:20px;
	margin:0;
}
/* footer credits */
a#sys-credits {
    color: #666;
}a#sys-credits:hover {
    color: #fff;
}
/* Video Container */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/* Author Box in the Single Posts */
.author-box {
    border: 0px solid #111;
    margin-bottom: 60px;
    min-height: 85px;
    padding: 30px;
    position: relative;
}
.author-box .sysadmincat-avatar {
    border-radius: 50%;
    height: 85px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 85px;
}
.author-box .sysadmincat-author-title, .sysadmincat-description, .sysadmincat-desc-link {
    margin-left: 115px;
}


/* Paginations */
ul.pager {
    padding: 40px;
}
li.previous {
    float: left;
}

li.next {
    float: right;
}

/* Media Queries for the smartphones and tablets */
    /* Smartphones (portrait and landscape) ---------- */
    @media screen and (min-width: 320px) and (max-width: 480px){
        body{
        	/*
			background: #7ce7e1;
			*/
		}
    }
    /* Smartphones (portrait) ---------- */
    @media screen and (max-width: 320px){
        body{
        	/*
			background: #ffd280;
			*/
		}
    }
    /* Smartphones (landscape) ---------- */
    @media screen and (min-width: 321px){
        body{
        	/*
			background: #9ddfbb;
			*/
			/*
			background: #0a0a0a;
			*/
		}
    }
    /* tablets, iPads (portrait and landscape) ---------- */
    @media screen and (min-width: 768px) and (max-width: 1024px){
        body{
        	/*
			background: #ffb497;
			*/
		}
		.content {
			max-width: 100%;
			margin: 0 auto ;
			padding: 0;
		}
    }
    /* tablets, iPads (portrait) ---------- */
    @media screen and (min-width: 768px){
        body{
        	/*
			background: #f0e68c;
			*/
			background:#fff;
		}
    }
    /* tablets, iPads (landscape) ---------- */
    @media screen and (min-width: 1024px){
        body{
        	/*
			background: #d6b3f4;
			*/
			background:white;
		}
    }
    /* Desktops and laptops ---------- */
    @media screen and (min-width: 1224px){
        body{
        	/*
			background: #d8ff9d;
			*/
			background:white;
		}
    }
    /* Large screens ---------- */
    @media screen and (min-width: 1824px){
        body{
        	/*
			background: #ffc0cb;
			*/
			background:white;
		}
    }
