<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% if page.title %}{{page.title}} | {% endif %} This will be our SysAdminCat Blog {% if page.titleAfter %}{{page.titleAfter}} | {% endif%}</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/sysadmincat.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="description" content="{{page.meta}}">
</head>
<body>

<header class="masterhead {{page.masterheadClass}}">
{% include nav.html navclass="nav-space-top" %}
</header>

{{content}}

<footer>
{% include nav.html navclass="nav-space-bottom" %}
	<p>©.2017 by SysAdminCat</p>
</footer>

</body>
</html>